__pycache__/
*.py[cod]
.venv/
venv/
.env
.ipynb_checkpoints/
*.db
*.sqlite3
ml/trained_models/*
!ml/trained_models/.gitkeep


# Python
venv/
__pycache__/
*.pyc

# Database
*.db

# Data
data/raw/
data/processed/

# VS Code
.vscode/

# Environment
.env